<nav class="navbar navbar-expand-lg navbar-dark bg-blueDark">
    <a class="navbar-brand" href="#">Helios <sup>P</sup> y <sup>P</sup></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="fas fa-bullhorn"></i> 10</a>
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="far fa-envelope"></i> 23</a>
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="far fa-comment-alt"></i> 32</a>
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="fas fa-comment-alt"></i> 11</a>
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="fas fa-phone"></i> 20</a>
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="fas fa-mobile-alt"></i> 21</a>
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="fas fa-cog"></i> config</a>
        <a class="nav-item nav-link nav-element text-primary" href="#"><i class="fas fa-user"></i> user</a>
      </div>
    </div>
  </nav>